<footer class="footer container-fluid position-relative py-2 bg-dark">
    <div class="text-center">
      <p class="text-white mt-3">
        &copy; 2021 by Youth India Foundation
        <br />
        Mail Id:
        <a href="mailto:contactus@youthindiafoundation.com" target="_blank"
          >contactus@youthindiafoundation.com</a
        >
        &nbsp; Contact : +91 9090907901
      </p>
    </div>
  </footer>