
<%- include ('./partials/separetcss/coursePageHeader') %> 
<div class="container mt-5">
  <div class="card mb-3" style="max-width: 840px; height: 10%">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./images/quiz.jpeg" class="img-fluid" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Why Quizes needed?</h5>
          <p class="card-text">
            Quizzes prove beneficial for the sake of learning. High-stakes,
            scored quizzes are meant for assessment. Meanwhile, no- or
            low-stakes quizzes make learners stop and think, try, make mistakes,
            and learn from those mistakes without fear of grading.
          </p>
          <p class="card-text"><small class="text-muted"></small></p>
          <p class="card-text">
            <a href="/lms" class="btn btn-light">Quizes</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 840px; height: 20%">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Why Online Courses needed?</h5>
          <p class="card-text">
            online courses run asynchronously to provide maximum scheduling
            flexibility,students can overlook the cost advantages of online
            classes and with the ability to study anywhere, online learners can
            complete coursework at home, a coffee shop, or a library.
          </p>
          <p class="card-text"><small class="text-muted"></small></p>
          <p class="card-text">
            <a href="/lms" class="btn btn-light">Online Courses</a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="./images/22.jpg" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 840px; height: 10%">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./images/24.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Why Offline Courses needed?</h5>
          <p class="card-text">
            We will get lots of documents and e-books here which will help us to
            build self studying nature and cultivate exploring the things which
            you are not aware of.
          </p>
          <p class="card-text"><small class="text-muted"></small></p>
          <p class="card-text">
            <a href="/lms" class="btn btn-light">Offline Courses</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
