

<%- include ('./partials/separetcss/homePageHeader') %> 

<section class="_home-content container-fluid py-5 mt-3">
  <!-- welcome -->

  <div class="container-fluid text-center py-5">
    <h3 class="display-3">Welcome to YIF</h3>
  </div>

  <!-- cards-->

  <div class="cards px-4 py-9">
    <div class="row">
      <div class="col-sm-12 py-3">
        <div class="card mb-5 mx-auto" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="./images/lms.jpg" class="img-fluid" alt="..." />
            </div>
            <div class="col-md-6 align-self-center">
              <div class="card-body">
                <p class="card-text">
                  A learning management system (LMS) is a software application
                  or web-based technology used to plan, implement and assess a
                  specific learning process. It is used for eLearning practices
                  and, in its most common form, consists of two elements: a
                  server that performs the base functionality and a user
                  interface that is operated by instructors, students and
                  administrators.
                </p>
                <p class="card-text">
                  <a href="/lms" class="btn btn-light">Get Started</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
