<%- include ('./partials/separetcss/lmsPageHeader') %>

<section class="container-fluid py-5">
  <!-- lms -->

  <div class="_lms row align-items-center py-5 w-75 mx-auto">
    <div class="_lms-img col-md-4">
      <img
        src="./images/lms.jpg"
        alt=""
        class="img-fluid"
        style="width: 100%"
      />
    </div>
    <div class="col-md-6 mx-auto py-3">
      <h5>What is LMS ?</h5>

      <div class="_large-view d-none d-lg-block">
        <p>
          An LMS enables you to create, manage, and deliver eLearning courses
          the same way word processors (like Microsoft Word) help you write
          documents and email servers (like Gmail) help you manage your email.
          <br />
          And what does LMS stand for? It stands for
          <strong>Learning Management System</strong>
        </p>
      </div>
      <div class="_mobile-view d-lg-none">
        <p>
          <strong>Learning Management System.</strong>
          An LMS enables you to create, manage, and deliver eLearning courses
        </p>
      </div>

      <a href="#">Learn More...</a>
    </div>
  </div>

  <!-- cards-->

  <div class="cards">
    <div class="row row-cols-1 row-cols-md-3 g-4 py-5 justify-content-evenly">
      <div class="col" style="max-width: 360px">
        <div class="card h-100">
          <div class="_card-img" style="height: 220px">
            <img
              src="./images/14.jpg"
              class="card-img mx-auto"
              alt="..."
              style="height: 100%; width: 100%"
            />
          </div>
          <div class="_overlay"></div>
          <a href="course.html" class="card-title text-center _overlay-title">
            Higher Education
          </a>

          <div class="card-body">
            <p class="card-text">
              Recently, higher education landscape has become more competitive.
              Universities and colleges are searching for cost-effective ways to
              engage students, deliver a richer learning experience and provide
              an easy access to curriculum, events, grades and schedules. YIF
              LMS offers indefinite training, support, maintenance, upgrades,
              server capacity and storage for learning. This innovative learning
              vertical will empower the higher education enterprises communicate
              and collaborate in completely novel ways.
              <br />
              <a href="">Learn More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 360px">
        <div class="card h-100">
          <div class="_card-img" style="height: 220px">
            <img
              src="./images/5.jpg"
              class="card-img-top mx-auto"
              alt="..."
              style="height: 220px; width: 100%"
            />
          </div>
          <div class="_overlay"></div>
          <a href="course.html" class="card-title text-center _overlay-title">
            Skill Development
          </a>
          <div class="card-body">
            <p class="card-text">
              Skill development platform is one platform for all of the software
              needs for skill development projects. YIF LMS skill development
              platform provides a fully integrated learning management solution
              that is being utilized by numerous skill development projects
              across the globe. YIF learning management solution offers low
              bandwidth solutions which focuses on youth empowerment and
              skills.The platform further enables the users to connect with and
              train all the users by leveraging a white label solution.
              <br />
              <a href="#">Learn More...</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col" style="max-width: 360px">
        <div class="card h-100">
          <div class="_card-img" style="height: 220px">
            <img
              src="./images/corporate training.jpg"
              class="card-img-top mx-auto"
              alt="..."
              style="height: 220px; width: 100%"
            />
          </div>
          <div class="_overlay"></div>
          <a href="course.html" class="card-title text-center _overlay-title">
            Corporate Training
          </a>
          <div class="card-body">
            <p class="card-text">
              YIF Learning Management System is intended to assist your
              organization in engaging with the employees and offering an
              interactive learning experience. YIF LMS is a SaaS platform that
              offers you the plans within your budget. YIF LMS app integrates
              with the organization’s HR system with a single sign-on
              methodology to ensure the seamless experience.
              <br />
              <a href="#">Learn More...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
